<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/backend.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Add User</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form th:object="${user}" th:action="@{/admin/user/do-add}" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" th:name="*{username}" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" th:name="*{password}" class="form-control"  placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" th:name="*{fullname}" class="form-control"  placeholder="Full Name">
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>